<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% User.find(session[:user_id]).orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
